{% include "includes/stop.html" %}
<div id="grids" class="grids">
    {% for grid in grids %}
    {% if grid.type_ == "cala.gui.components.Encoder" %}
    <div class="video-container gfg">
        <h3>{{ grid.id }}</h3>
        <button
                id="play-{{ grid.id }}"
                name="play"
                type="button"
                hx-trigger="click"
                hx-post="/player/{{ grid.id }}"
                hx-swap="outerHTML"
        >Play
        </button>
    </div>
    {% else %}
    <div class="plot-section gfg"><h3>{{ grid.id }}</h3>
        <div id="{{ grid.id }}"></div>
    </div>
    {% endif %}
    {% endfor %}
</div>