{% include "includes/stop.html" %}
<div id="grids" class="grids">
    {% for grid in grids %}
    {% if grid.type_ in ["cala.gui.components.Encoder", "cala.gui.components.Stamper"] %}
    <div class="video-container gfg">
        <h3>{{ grid.id }}</h3>
        <button
                id="play-{{ grid.id }}"
                name="play"
                type="button"
                hx-trigger="click"
                hx-post="/player/{{ grid.id }}"
                hx-swap="outerHTML"
        >Play
        </button>
    </div>
    {% else %}
    <div class="plot-section gfg">
        <h3>{{ grid.id }}</h3>
        <div id="plot-{{ grid.id }}">
            <button
                    id="button-{{ grid.id }}"
                    name="button"
                    type="button"
            >Play
            </button>
        </div>
    </div>
    <script>
        const plot = document.getElementById("button-{{ grid.id }}");
        plot.addEventListener("click", async () => {
            const {{ grid.id }} = new LineChart("#plot-{{ grid.id }}");
            await {{ grid.id }}.initialize();
            add_on(wsCallbacks, "{{ grid.id }}", {{ grid.id }});
        })
    </script>
    {% endif %}
    {% endfor %}
</div>