{% include "includes/stop.html" %}
<div id="grids" class="grids">
    {% for grid in grids %}
    {% if grid.type_ == "cala.gui.components.Encoder" %}
    <div class="video-container gfg">
        <h3>{{ grid.id }}</h3>
        <button
                id="play-{{ grid.id }}"
                name="play"
                type="button"
                hx-trigger="click"
                hx-post="/player/{{ grid.id }}"
                hx-swap="outerHTML"
        >Play
        </button>
    </div>
    {% else %}
    <div class="plot-section gfg"><h3>{{ grid.id }}</h3>
        <div id="{{ grid.id }}"></div>
    </div>
    <script>
        const {
        {
            grid.id
        }
        }
        = new LineChart("{{ grid.id }}");
        console.log("before DOMContentLoaded", "{{ grid.id }}");
        document.addEventListener("DOMContentLoaded", async () => {
            console.log("within DOMContentLoaded", "{{ grid.id }}");
            await {
            {
                grid.id
            }
        }.
            initialize();
        })
        console.log("after DOMContentLoaded", "{{ grid.id }}");
        window.
        {
            {
                grid.id
            }
        }
        = {
        {
            grid.id
        }
        }
        ;
    </script>
    {% endif %}
    {% endfor %}
</div>