<!DOCTYPE html>
<html>
<head>
    <title>Cala Dashboard</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>">
    <link href="../static/main.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="dashboard">
    <h1>Cala Dashboard</h1>
    {% include "includes/filepicker.html" %}
    {% include "includes/start.html" %}
</div>
<div id="main" class="main"></div>
<script src="../static/main.js"></script>
</body>
</html>
