<!DOCTYPE html>
<html>
<head>
    <title>Cala Dashboard</title>
    <link href="./dist/main.css" rel="stylesheet"/>
    <style>
        .video-container {
            width: 30%;
        }
    </style>
</head>
<body>
<div class="dashboard">
    <h1>Cala Dashboard</h1>
    <details>
        <summary>Metadata</summary>
        <ul>
            <li>User: </li>
            <li>Animal ID: </li>
            <li>Experiment ID: </li>
            <li>Run ID: </li>
            <li>Started: <time></time></li>
            <li>Elapsed: <time></time></li>
        </ul>
    </details>
    <div class="video-container">
        <video
                class="video-js"
                data-setup='{"fluid": true}'
                id="stream-player"
                controls
        >
            <source
                    src="{{ config.prep_movie.stream_url }}"
                    type="application/x-mpegURL"
            />
        </video>
    </div>
    <div id="plot-container"></div>
</div>

<script>
    window.config = {{config | tojson | safe}}
</script>
<script src="./dist/main.js"></script>
</body>
</html>
