<!DOCTYPE html>
<html>
<head>
    <title>Cala Dashboard</title>
    <link href="./dist/main.css" rel="stylesheet"/>
    <style>
        .main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            background-color: #181818;
            padding: 10px;
        }

        .gfg {
            background-color: rgb(255, 255, 255);
            text-align: center;
            padding: 25px 0;
            font-size: 30px;
        }
    </style>
</head>
<body>
<div class="dashboard">
    <h1>Cala Dashboard</h1>
    <details style="margin-bottom:20px">
        <summary>Metadata</summary>
        <ul>
            <li>User:</li>
            <li>Animal ID:</li>
            <li>Experiment ID:</li>
            <li>Run ID:</li>
            <li>Started:
                <time></time>
            </li>
            <li>Elapsed:
                <time></time>
            </li>
        </ul>
    </details>
    <h3>Frame Number: <span id="frame-index">0</span></h3>
    <div class="main">
        <div class="video-container gfg">
            <h3>Preprocessed Video</h3>
            <video
                    class="video-js"
                    controls
                    data-setup='{"fluid": true}'
                    id="stream-player"
            >
                <source
                        src="{{ config.prep_movie.stream_url }}"
                        type="application/x-mpegURL"
                />
            </video>
        </div>
        <div class="plot-section gfg"><h3>Plot section</h3>
            <div id="plot-container"></div>
        </div>
    </div>
</div>

<script>
    window.config = {{config | tojson | safe}}
</script>
<script src="./dist/main.js"></script>
</body>
</html>
