<!DOCTYPE html>
<html>
<head>
    <title>Cala Dashboard</title>
    <link href="./dist/main.css" rel="stylesheet"/></head>
<body>
<div class="dashboard">
    <div class="video-container">
        <video-js
                class="vjs-default-skin"
                id="stream-player"
                height="{{ config.raw_movie.height }}"
                width="{{ config.raw_movie.width }}"
                controls
        >
            <source
                    src="{{ config.raw_movie.stream_url }}"
                    type="application/x-mpegURL"
            />
        </video-js>
    </div>
    <div id="plot-container"></div>
</div>

<script>
    window.config = {{ config | tojson | safe }}
</script>
<script src="./dist/main.js"></script>
</body>
</html>
